@model The_Job_Box.Models.JobCategory

@{
    ViewData["Title"] = "Details";
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Jobs Categories
                </h1>
                <p class="text-white link-nav">
                    <a asp-controller="Home" asp-action="Index" asp-area="">Home </a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a asp-area="" asp-controller="JobCategories" asp-action="Index"> Job Categories</a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a asp-area="" asp-controller="JobCategories" asp-action="Details">Job Category Details</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<div>
    <h4>JobCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="fas fa-edit"></i>  &nbsp; Edit
    </a> |
    <a type="button" class="btn btn-success" asp-action="Index">Back to List</a>
</div>
