@model IEnumerable<The_Job_Box.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Jobs
                </h1>
                <p class="text-white link-nav">
                    <a asp-controller="Home" asp-action="Index" asp-area="">Home </a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a asp-area="" asp-controller="Jobs" asp-action="Index">Jobs</a>

                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
           
          

            <td>
               
                <a type="button" class="btn btn-success" asp-action="Details" asp-route-id="@item.ID">
                    <i class="far fa-list-alt"></i>  &nbsp; Details
                </a>
                |
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">
                    <i class="fas fa-trash-alt"></i> &nbsp; Delete
                </a>
            </td>

           
        </tr>
        }
    </tbody>
</table>
